<header>
    <nav id="menu" aria-label="Menu principale">
        <ul>
            <li><img src="../immagini/atds.jpg" alt="ATDS - Associazione Tecweb Donatori Sangue"></li>
            <li><a lang="en" href="index.html">Home</a></li>
            <li><a href="login.html">Dona ora</a></li>
            <li><a lang="en" href="about_us.html">About us</a></li>
            <li><a href="dove_trovarci.html">Dove trovarci</a></li>
            
            <li class="profilo-icona-container">
                <a href="login.html" title="Accedi">
                    <span aria-hidden="true" class="icona-profilo">👤</span>
                </a>
            </li>
            </ul>
    </nav>
</header>