<footer>
    <div class="footer-buttons">
        <a href="#content" aria-label="Torna all'inizio della pagina">Torna all'inizio</a>
    </div>

    <div class="footer-container">

        <!-- COLONNA SINISTRA -->
        <div class="left-footer">
            <img src="/images/logo.jpg" alt="ATDS - Associazione Tecweb Donatori Sangue">

            <div class="contact-info">

                <div class="contatto-item">
                    <img class="icon" src="/images/location.jpg" alt="Icona posizione">
                    <p>Via Università, Padova, Italia</p>
                </div>

                <div class="contatto-item">
                    <img class="icon" src="/images/phone-call.jpg" alt="Icona telefono">
                    <a href="tel:+390498275000">049 827 5000</a>
                </div>

                <div class="contatto-item">
                    <img class="icon" src="/images/mail.jpg" alt="Icona email">
                    <a href="mailto:info.atds@gmail.com">info.atds@gmail.com</a>
                </div>

            </div>
        </div>

        <!-- DIVISORE VERTICALE -->
        <span class="vertical-divider"></span>

        <!-- COLONNA DESTRA -->
        <div class="right-footer">

            <div class="title-item">
                <h2><abbr title="Associazione Tecweb Donatori Sangue">ATDS</abbr></h2>
                <p>Associazione Tecweb Donatori Sangue</p>
            </div>

            <div class="times-item">
                <h3>Orari di apertura</h3>
                <p>07:30 - 11:30, 14:00 - 18:00</p>
            </div>

            <div class="footer-social">
                <a href="https://www.facebook.com/universitapadova" aria-label="Facebook">
                    <img src="/images/fblogo.jpg" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/unipd/" aria-label="Instagram">
                    <img src="/images/iglogo.jpg" alt="Instagram">
                </a>
                <a href="https://www.youtube.com/@unipd" aria-label="YouTube">
                    <img src="/images/ytlogo.jpg" alt="YouTube">
                </a>
            </div>

        </div>

    </div>

    <div class="footer-copyright">
        <p>
            <abbr title="Associazione Tecweb Donatori Sangue">ATDS</abbr>, Associazione Tecweb Donatori Sangue -
            <span lang="en">All Rights Reserved</span>
        </p>
    </div>
</footer>