<footer>
    <div class="footer-buttons">
        <a href="#content" class="btn-std" aria-label="Torna all'inizio della pagina">Torna all'inizio</a>
    </div>

    <div class="footer-container">

      
        <div class="left-footer">
            <img src="/ggiora/images/logo.jpg" alt="">

            <div class="contact-info">

                <div class="contact-item">
                    <img class="icon" src="/ggiora/images/location.jpg" alt="Indirizzo">
                    <p>Via Università, Padova, Italia</p>
                </div>

                <div class="contact-item">
                    <img class="icon" src="/ggiora/images/phone-call.jpg" alt="Telefono">
                    <a href="tel:+390498275000">049 827 5000</a>
                </div>

                <div class="contact-item">
                    <img class="icon" src="/ggiora/images/mail.jpg" alt="Email">
                    <a href="mailto:info.atds@gmail.com">info.atds@gmail.com</a>
                </div>

            </div>
        </div>

        
        <span class="vertical-divider"></span>

    
        <div class="right-footer">

            <div class="title-item">
                <h4><abbr title="Associazione Tecweb Donatori Sangue">ATDS</abbr></h4>
                <p>Associazione Tecweb Donatori Sangue</p>
            </div>

            <div class="times-item">
                <h4>Orari di apertura</h4>
                <p>07:30 - 11:30, 14:00 - 18:00</p>
            </div>

            <div class="footer-social">
                <a href="https://www.facebook.com/universitapadova" aria-label="Seguici su Facebook">
                    <img src="/ggiora/images/fblogo.jpg" alt="">
                </a>
                <a href="https://www.instagram.com/unipd/" aria-label="Seguici su Instagram">
                    <img src="/ggiora/images/iglogo.jpg" alt="">
                </a>
                <a href="https://www.youtube.com/@unipd" aria-label="Seguici su YouTube">
                    <img src="/ggiora/images/ytlogo.jpg" alt="">
                </a>
            </div>

        </div>

    </div>

    <div class="footer-copyright">
        <p>
            <abbr title="Associazione Tecweb Donatori Sangue">ATDS</abbr>, Associazione Tecweb Donatori Sangue -
            <span lang="en">All Rights Reserved</span>
        </p>
    </div>
</footer>
