<div class="sticky-header">
    <header>
        <nav aria-label = "Aiuti alla navigazione" class="navigation-helper">
            <a href="#content" class="nav-helper">Vai al contenuto</a>
        </nav>
        
        <nav id="menu" aria-label="Menu principale">

            <img src="/ggiora/images/logo.jpg" alt="" id="logo">
            <ul>
                <li lang="en"><a href="/ggiora/src/index.php">Home</a></li>
                <li><a href="/ggiora/src/php/pages/dona_ora.php">Dona ora</a></li>
                <li><a href="/ggiora/src/php/pages/about_us.php">Chi siamo</a></li>
                <li><a href="/ggiora/src/php/pages/dove_trovarci.php">Dove trovarci</a></li>
            </ul>
            [linkProfilo]

            <input type="checkbox" id="burger-input" aria-label="Apri menu" aria-expanded="false" aria-controls="menu">

            <label class="burger-menu" for="burger-input">    
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </label>
        </nav>           
    </header>     
</div>

<nav id="breadcrumb">
        [BREADCRUMB]
</nav>
