* {
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
}

:root{
    
}

html, body{
    font-size: 100%;
    font-family: "Jost", Arial, sans-serif;
    line-height: 1.5em; 
    background-color: #f7eee7 ;
}

/*html{
    background-image: 
    url('materiale/images/palla.png'),
    url('materiale/images/palla.png'),
    url('materiale/images/palla.png'), 
    linear-gradient(to bottom right, rgb(22 63 119/100%), transparent);
}

body{
    background-color: var(--bgcolor);
    color: var(--txtcolor);
    max-width: 1200px;
    margin: auto;
}*/

/*-----------------*/
/*AIUTI ALLA NAVIGAZIONE*/
/*-----------------*/

.navigationHelp{
    position: absolute;
    text-indent: -999em;
}

.navigationHelp:focus{
    position: static;
    text-indent: 0;
}

.listHelp ul{
    list-style-type: none;
}

/*---------------------*/
/*SEZIONE HEADER E MENU*/
/*---------------------*/

header{
    background: #acd2e6;
    width: 80%;
    height: auto;
    display: flex; 
    align-items: center; /* centra verticalmente il contenuto */
    margin: auto;
    margin-top: 1.3em;
    border-radius: 3em;
    padding: 1em;
}

#menu{
    display: flex; /* container flessibile */
    align-items: center; /* allinea verticalmente al centro */
    justify-content: space-between; /* centro orizzontale */
    width: 100%; /* larghezza completa */
    padding: 0; /* padding laterale */
    position: relative; /* necessario per il posizionamento assoluto dei figli */
}

#menu li{ 
    display: inline-block; /* elementi disposti orizzontalmente */
}

#currentLink{
    text-decoration: none; /* rimuove la sottolineatura */
    background-color: #ffffff; 
    color: #000000;
    border-style: solid;
    border-width: 0.1em;
    border-color: #000000;
    border-radius: 1.3em; /* angoli arrotondati */
    padding: 0.8em 0.8em; /* spazio interno */
    /* width: auto; larghezza fissa */
    margin: 0.2em; /* margine esterno */
    text-align: center; /* testo centrato */
    text-transform: uppercase; /* testo in maiuscolo */
    font-size: 1.3em; /* dimensione del testo */
    white-space: nowrap; /* impedisce la rottura del testo */
    flex-shrink: 1;
    min-width: fit-content;
}

#menu a{
    text-decoration: none; /* rimuove la sottolineatura */
    background-color: #ffffff; /* sfondo grigio chiaro */
    color: #000000;
    border-radius: 1.3em; /* angoli arrotondati */
    padding: 0.5em 1em; /* spazio interno */
    /* width: auto; larghezza */
    margin: 0.1em; /* margine esterno */
    text-align: center; /* testo centrato */
    text-transform: uppercase; /* testo in maiuscolo */
    font-size: 1.3em; /* dimensione del testo */
    display: inline-block;
    transition: all 0.3s ease;
    cursor : pointer;
    white-space: nowrap; /* impedisce la rottura del testo */
    min-width: fit-content;
    flex-shrink: 1;
}

#menu a:hover{
    background: linear-gradient(135deg, #4f5abb 0%, #7b68ee 100%);
    color: #ffffff;
    
}

#menu ul{
    list-style-type: none; /* rimuove i pallini della lista */
    display: flex; /* lista come contenitore flessibile */
    align-items: center; /* allinea verticalmente al centro */
    gap: 1.5em; /* spazio tra gli elementi */
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 auto;
}

#menu img{
    position: static;
    height: 6em; /* altezza fissa */
    object-fit: contain; /* mantiene le proporzioni dell'immagine */;
    flex-shrink: 0;
}

#menu a#profilo{
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    width: auto;
    margin-left: auto;
    flex-shrink: 0;
}

#menu a#profilo img{
    height: 3.5em;
    width: auto;
}

/*-----------------*/
/*SEZIONE BREADCRUMB*/
/*-----------------*/

nav#breadcrumb{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0.8em 2em; /* padding interno */
    margin: 2em auto; /* margine verticale e centrato */
    width: fit-content; /* larghezza adattata al contenuto */

    background-color: rgba(201, 170, 170, 0.489);
    border: 0.1em solid #ff7979bc;
    outline: #fa8253 solid 0.3em;
    border-radius: 2em;
}

nav#breadcrumb p{
    color: var(--txtcolor); 
    font-size: 1em;
    margin: 0;
}

nav#breadcrumb a{
    color: var(--txtcolor); /* link bianchi */
    margin: 0 0.3em;
}

nav#breadcrumb a:hover{
    color: var(--color-secondary-light); /* colore al passaggio del mouse */
}



/*-----------------*/
/*SEZIONE MAIN*/
/*-----------------*/

/*main{
    background-color: var(--contentbgcolor);
    color: var(--contexttxtcolor);
    margin-left: 20%;
    padding-top: 2em;
    padding-left: 3.5em;
    padding-right: 2em;
    padding-bottom: 2em;
    border-left: 1px solid black;
    margin-right: 1em;
}

aside{
    float: right;
}

main h1{
    line-height: 1.5em;
    text-align: center;
}

main h2{
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.polaroid{
    width: 30%;
    float: right;
    background-color: white;
    padding: 0.5em;
    border: 1px solid black;
    margin-top: 2em;
    transform: rotate(-3deg);
    margin: 1em;
}

#premi dt{
    list-style-image: url('materiale/images/coppa.png');
    margin-left: 2em;
    background-repeat: no-repeat;
    padding-left: 2.5em;
}

#premi dd{
    padding-left: 2.5em;
}*/

/*-----------------*/
/*SEZIONE NEWS*/
/*-----------------*/

/*#breakingNews{
    float: right;
    width: 18%;
    color: var(--txtcolor);
    background-color: var(--bgcolor);
    border: 1px solid black;
    padding: 0.5em;
    margin-right: 2%;
    margin-top: 1.0em;
}

#breakingNews h2{
    background-color: var(--newscolor);
    color: var(--newstxtcolor);
    font-size: 1.2em;
    padding: 0.2em;
}

#breakingNews dt{
    font-weight: bold;
    margin-left: 0.8em;
}

#breakingNews dl dd{
    margin-left: 1.5em;
}*/

/*-----------------*/
/*SEZIONE FOOTER*/
/*-----------------*/

/*footer p{
    display: inline;
    font-size: 0.8em;
    font-style: italic;
}

footer{
    background-color: var(--breadcolor);
    color: var(--txtcolor);
    text-align: center;
    padding: 1.1em;
    border: 1px solid black;
    padding: 0.5em;
}

footer img{
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 0.7em;
    vertical-align: middle;
}

.imgValidCode{
    vertical-align: middle; 
}*/

